/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*root* -> Declare the colours and fonts to be used */
:root{
    --lexend: 'Lexend Deca', sans-serif;
    --bigshoulder: 'Big Shoulders Display', cursive;
    --brightorange: hsl(31, 77%, 52%);
    --darkcyan: hsl(184, 100%, 22%);
    --verydarkcyan: hsl(179, 100%, 13%);
    --transparentwhite:  hsla(0, 0%, 100%, 0.75);
    --verylightgrey: hsl(0, 0%, 95%)
}

/*Create columns*/
.col-1, .col-2, .col-3{
    float: left;
    width: 20%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 376px) {
    .col-1, .col-2, .col-3{
        width: 100%;
    }
}

/*main*/
main{
    margin: 50px;
    padding: 70px;
}

/*H1*/
h1{
    font-family: var(--bigshoulder);
    color: var(--verylightgrey);
}

/*p*/
p{
    font-family: var(--lexend);
    font-size: 12px;
    text-align: left;
    line-height: 1.5em;
    color: var(--transparentwhite);
}

/*button*/
button{
    background-color: var(--verylightgrey);
    border: none;
    border-radius: 40px;
    padding: 10px;
    font-family: var(--lexend);
    text-align: center;
    text-decoration: none;
    display:flex; 
    font-size: 8px;
}

/*col 1*/
.col-1{
    background-color: var(--brightorange);
    color: #FFFFFF;
    border-radius: 10px 0px 0px 10px;
}

/*col 2*/
.col-2{
    background-color: var(--darkcyan);
    color: #FFFFFF;
}

/*col 3*/
.col-3{
    background-color: var(--verydarkcyan);
    color: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
}

/*Button styling*/
.btn_1{
    color: var(--brightorange);
}

.btn_2{
    color: var(--darkcyan);
}

.btn_3{
    color: var(--verydarkcyan);
}